[submodule "3rd/DXUT"]
	path = 3rd/DXUT
	url = https://github.com/Microsoft/DXUT.git
[submodule "3rd/DirectXMath"]
	path = 3rd/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "Salvation_Common"]
	path = Salvation_Common
	url = https://github.com/jsbourdon/salvation_common.git
